html, body{
    margin:0;
    padding:0 2vw;
}

img,video{
    width:60%;
    margin-left: 2.4em;
}

a:link, a:visited{
    color:black;
}

a:hover, a:active{
    color:rgb(44, 255, 174);
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:#ECA843;
    font-size:18px;
    line-height:1.6em;
    font-weight:400;
}

main{
    margin:0 auto;
}

h1,h2,h3,h4,h5{
    line-height:1em;
    margin:0 0 0.2em;
}


.main-header{
    margin:2em 0;
}

.main-header h1, .main-header h2, .main-header h3{
    margin:0;
}

.main-header h2, .main-header h3{
    color:white;
}
.main-header h1{
    font-size:60px;
}

main header{
    text-align:left;
    margin-bottom:2em;

}
section{
    margin-bottom:2em;
}

section.intro{
    border-bottom:5px solid black;
}

section.flex{
    display:flex;
    
}



section.home{
    border-top:5px solid black;
    border-bottom:5px solid black;
    padding-top:1em;
}

@media only screen and (max-width: 640px) {
    section.flex{
        display:block;
        
    }

    video{
        width:100%;
        margin:0;
    }
}